:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #f0f2f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Links */
a {
  font-weight: 500;
  color: #1890ff;
  text-decoration: none;
}

a:hover {
  color: #40a9ff;
}

/* Ant Design overrides */
.ant-btn {
  font-size: 16px;
  border-radius: 5px;
}

.ant-input,
.ant-input-password {
  font-size: 14px;
  border-radius: 5px;
}

.ant-form-item-label>label {
  font-weight: 600;
  color: #555;
}

.ant-message-notice {
  font-size: 14px;
}